//essa variavel SALVOU DEMAIS
$pokemon-types: (
    'grass': #78c850,
    'fire': #f08030,
    'water': #6890f0,
    'bug': #a8b820,
    'poison': #a040a0,
    'flying': #a890f0,
    'normal': #a8a878,
    'electric': #f8d030,
);

.pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 240px;
    height: 280px;
    padding: 24px;

    border: solid 2px transparent;
    border-radius: 16px;
    background-color: #242424;
    cursor: pointer;

    transition:
        border-color 0.5s ease-in-out,
        opacity 0.5s ease-in-out;

    &__number {
        font-size: 14px;
        font-weight: 600;
    }

    &__image {
        width: 160px;
        height: 160px;
        object-fit: contain;
    }

    &__name {
        font-size: 20px;
        margin-top: auto;
        margin-bottom: auto;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    h2 {
        font-weight: 400;
    }

    &:hover {
        .pokemon-card__name {
            opacity: 1;
        }
    }
    //each paras bordas
    @each $type, $color in $pokemon-types {
        &.#{$type}:hover {
            border-color: $color;
        }
    }
}

//each do texto
@each $type, $color in $pokemon-types {
    .#{$type} {
        color: $color;
    }
}
